
.nummerplade {
    color: #033D60;
    cursor: pointer;
    font-family: arial;
    font-size: 22px;
    font-weight: 300;
    height: 20px;
    left: 25px;
    margin-left: -19px;
    position: relative;
    text-align: center;
    top: -123px;
    width: 26px;
}
.placeret {
    color: #DDDDDD;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    left: 15px;
    opacity: 0;
    position: relative;
    text-align: center;
    top: -110px;
    width: 17px;
}
#canvas {
    margin-top: 150px;
    z-index: 0;
}
.draggable {
      -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;  
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
}
#container {
    height: 170px;
    width: 932px;
}
img {
    cursor: pointer;
    margin-left: -20px;
}
.correct {
    margin-left: 880px;
    margin-top: -80px;
    z-index: 2;
}
.btn_next {
    margin-left: -185px;
}
